@import url("./vars.css");
@import url("./fonts.css");

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: "Golos Text", sans-serif;
    font-size: 0.5208335vw;
    font-style: normal;
    font-weight: normal;
    -webkit-animation: bugfix infinite 1s;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-style: normal;
    font-weight: normal;
    -webkit-animation: bugfix infinite 1s;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    color: var(--color-text);
    background-color: var(--color-bg);
    overflow-x: hidden;
    font-size: 2rem;
}

input,
textarea {
    -webkit-animation: bugfix infinite 1s;
    line-height: inherit;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    color: inherit;
}
a {
    color: unset;
}
a,
a:hover {
    text-decoration: none;
}

button,
input,
a,
textarea {
    outline: none;
    cursor: pointer;
    font: inherit;
    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: inherit;
    margin: 0;
    padding: 0;
}
p {
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
}

img {
    width: 100%;
    height: auto;
    display: block;
    pointer-events: none;
}

button {
    border: none;
    color: inherit;
    font: inherit;
    text-align: inherit;
    padding: 0;
    background-color: transparent;
}
ul {
    padding: 0;
    margin: 0;
}

ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 122rem;
    margin: 0 auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.title-1 {
    text-transform: uppercase;
    font-size: 6rem;
    line-height: 110%;
    font-family: "Merriweather", serif;
}

.title-2 {
    font-size: 5.4rem;
    line-height: 120%;
    text-transform: uppercase;
    font-family: "Merriweather", serif;
}

.title-3 {
    text-transform: uppercase;
    font-size: 3.6rem;
    line-height: 135%;
    font-family: "Merriweather", serif;
}

.accent {
    color: var(--color-accent);
    font-weight: 700;
}

.btn {
    width: fit-content;
    height: 7.2rem;
    padding: 2rem 4.8rem;
    border-radius: 6.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, color 0.2s;
}

.btn span {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    width: 16.5rem;
}

.btn_primary {
    background-color: var(--color-btn-primary);
    color: var(--color-bg);
}

.btn_primary:hover,
.btn_primary:focus {
    background-color: var(--color-accent-btn);
    color: var(--color-text);
}

.btn_secondary {
    border: 0.2rem solid var(--color-btn-primary);
}

.btn_secondary:hover,
.btn_secondary:focus {
    background-color: var(--color-btn-primary);
    color: var(--color-bg);
}

.btn_more {
    border: 0.1rem solid var(--color-subtext);
    color: var(--color-subtext);
    width: fit-content;
    height: fit-content;
    padding: 1.2rem;
}

.btn_more:hover,
.btn_more:focus {
    background-color: var(--color-subtext);
    color: var(--color-bg);
}

.btn_more span {
    width: fit-content;
    line-height: 120%;
}

.btn_pag {
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 100%;
    background-color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn_pag:disabled {
    background-color: #d6d6d6;
}

.btn_pag:disabled:hover,
.btn_pag:disabled:focus {
    background-color: #d6d6d6;
}

.btn_pag:hover,
.btn_pag:focus {
    background-color: var(--color-accent-btn);
}

.btn_pag svg {
    width: 1.2rem;
    height: 2rem;
}

.mobile {
    display: none;
}

@media (min-width: 1920px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 48em) {
    html {
        font-size: 5px;
        font-size: 1.5625vw;
        font-size: calc((100 / 375) * 5vw);
        -webkit-text-size-adjust: none;
    }

    body {
        -webkit-text-size-adjust: none;
    }

    .container {
        padding: 0 4rem;
        width: 100%;
    }

    .title-1 {
        font-size: 7.2rem;
    }

    .title-2 {
        font-size: 7.2rem;
    }

    .title-3 {
        font-size: 5.6rem;
    }

    .btn_primary,
    .btn_secondary {
        width: 100%;
        padding: 3.6rem 0;
        height: 9.4rem;
    }

    .btn_secondary {
        opacity: 0.9;
        background-color: var(--color-bg);
        border: none;
    }

    .btn span {
        width: fit-content;
        font-size: 3.2rem;
    }

    .btn_pag {
        width: 7.2rem;
        height: 7.2rem;
    }

    .btn_pag svg {
        width: 2rem;
        height: 3.6rem;
    }

    .btn_more {
        padding: 2.4rem;
        font-size: 3.2rem;
        height: 7rem;
    }

    .mobile {
        display: block;
    }
}
