.events {
    margin-bottom: 8rem;
    margin-top: 8rem;
}

.events_top {
    margin-bottom: 6.4rem;
    display: flex;
    align-items: center;
    gap: 6.4rem;
}

.events_top__title {
    width: 76.4rem;
    text-wrap: balance;
}

.events_top__img {
    width: 39.4rem;
    height: 25rem;
    mask-image: url("./../../img/events_img_mask.webp");
    mask-size: 100% 100%;
    overflow: hidden;
    position: relative;
}

.events_top__img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("./../../img/noise_layer.webp");
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: color-burn;
}

.events_info {
    display: grid;
    grid-template-columns: 47.4rem 1fr;
    grid-column-gap: 4.4rem;
}

.events_info__img {
    grid-area: 1 / 1 / 4 / 2;
    position: relative;
}

.events_info__img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    inset: 0;
    background-image: url("./../../img/noise_layer_2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    mix-blend-mode: color-burn;
    z-index: 8;
}

.events_info__img img {
    height: 100%;
}

.events_info__img-bg {
    position: absolute;
    top: 4.93rem;
    left: 1.235rem;
    width: 43.75rem;
    height: 40.557rem;
    z-index: 1;
}
.events_info__img-money {
    position: absolute;
    top: 2.292rem;
    right: 0;
    height: 24.058rem;
    width: 12.161rem;
    z-index: 2;
}
.events_info__img-blow {
    position: absolute;
    top: -2.781rem;
    left: -2.75rem;
    height: 34.381rem;
    width: 52.899rem;
    z-index: 3;
}
.events_info__img-player {
    position: absolute;
    top: 8.812rem;
    right: 6rem;
    height: 34.03rem;
    width: 33.863rem;
    z-index: 4;
}
.events_info__img-blow-sm {
    position: absolute;
    bottom: 1.318rem;
    left: 0.44rem;
    height: 24.51rem;
    width: 21.36rem;
    z-index: 5;
    transform: rotate(-89.12deg);
}
.events_info__img-chess {
    position: absolute;
    z-index: 6;
    bottom: 2rem;
    left: 10.338rem;
    height: 14.9rem;
    width: 8.764rem;
    transform: rotate(145.05deg);
}
.events_info__img-hand {
    position: absolute;
    z-index: 7;
    bottom: -5.621rem;
    right: 4.7rem;
    height: 23.49rem;
    width: 17.432rem;
    transform: rotate(39.89deg);
}

.events_info__title {
    margin-bottom: 6rem;
}
.events_table {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    position: relative;
    margin-bottom: 4.8rem;
}

.events_table::before {
    position: absolute;
    content: "";
    height: 100%;
    background-color: #d0d0d0;
    width: 0.2rem;
    top: 0;
    bottom: 0;
    left: 30.6rem;
}

.events_table__row {
    padding-bottom: 1.6rem;
    border-bottom: 0.2rem solid #d0d0d0;
    display: grid;
    grid-template-columns: 30.6rem 1fr;
    grid-column-gap: 1.6rem;
}

.events_table__row:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

.events_table__row span {
    font-size: 2rem;
    line-height: 120%;
    font-weight: 600;
}
.events_table__row .category {
    opacity: 0.7;
    font-weight: 400;
}
.crossed {
    text-decoration: line-through var(--color-accent);
}
.events_info__link {
    color: var(--color-subtext);
    font-size: 2rem;
    line-height: 120%;
}

.lean-scale {
    -webkit-animation: lean-scale 4s linear infinite both;
    animation: lean-scale 4s linear infinite both;
}

@-webkit-keyframes lean-scale {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }
    50% {
        -webkit-transform: scale(1.3) rotateZ(5deg);
        transform: scale(1.3) rotateZ(5deg);
    }
    100% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }
}
@keyframes lean-scale {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }
    50% {
        -webkit-transform: scale(1.3) rotateZ(5deg);
        transform: scale(1.3) rotateZ(5deg);
    }
    100% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }
}

.scale {
    -webkit-animation: scale 3s linear infinite both;
    animation: scale 3s linear infinite both;
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1) rotate(-89.12deg);
        transform: scale(1) rotate(-89.12deg);
    }
    50% {
        -webkit-transform: scale(1.15) rotate(-89.12deg);
        transform: scale(1.15) rotate(-89.12deg);
    }
    100% {
        -webkit-transform: scale(1) rotate(-89.12deg);
        transform: scale(1) rotate(-89.12deg);
    }
}
@keyframes scale {
    0% {
        -webkit-transform: scale(1) rotate(-89.12deg);
        transform: scale(1) rotate(-89.12deg);
    }
    50% {
        -webkit-transform: scale(1.15) rotate(-89.12deg);
        transform: scale(1.15) rotate(-89.12deg);
    }
    100% {
        -webkit-transform: scale(1) rotate(-89.12deg);
        transform: scale(1) rotate(-89.12deg);
    }
}

@media (max-width: 48em) {
    .events {
        margin-bottom: 24rem;
        margin-top: 9.6rem;
    }
    .events_top {
        margin-bottom: 4.88rem;
        flex-direction: column;
        gap: 4.8rem;
        position: relative;
    }
    .events_top__title {
        width: 100%;
        text-wrap: pretty;
    }
    .events_top__title p:first-of-type {
        display: block;
        margin-bottom: 52.2rem;
    }
    .events_top__img {
        position: absolute;
        top: 35.2rem;
        width: 100%;
        height: 42.4rem;
    }
    .events_info {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: unset;
    }
    .events_info__img {
        grid-area: auto;
        position: relative;
        height: 80.4rem;
        margin-bottom: 6.8rem;
    }
    .events_info__img-bg {
        top: 13.4rem;
        left: 0.5rem;
        width: 61.8rem;
        height: 57.2rem;
        transform: rotate(270deg);
    }
    .events_info__img-money {
        top: 9.2rem;
        width: 17rem;
        height: 34rem;
    }
    .events_info__img-blow {
        top: 1rem;
        left: unset;
        right: -3.4rem;
        height: 49.4rem;
        width: 74.6rem;
    }
    .events_info__img-player {
        top: 18.38rem;
        right: unset;
        left: 10.6rem;
        height: 48rem;
        width: 47.8rem;
    }
    .events_info__img-blow-sm {
        bottom: 0.318rem;
        left: -0.56rem;
        height: 34.51rem;
        width: 31.36rem;
        z-index: 5;
        transform: rotate(-89.12deg);
    }
    .events_info__img-chess {
        bottom: 2rem;
        left: 13.338rem;
        height: 20.9rem;
        width: 12.764rem;
        transform: rotate(145.05deg);
    }
    .events_info__img-hand {
        bottom: -8.8rem;
        right: 7.7rem;
        height: 32.49rem;
        width: 24.432rem;
    }
    .events_info__title {
        margin-bottom: 8.8rem;
    }
    .events_table {
        gap: 3.2rem;
        margin-bottom: 8rem;
    }
    .events_table::before {
        content: none;
    }
    .events_table__row {
        padding-bottom: 3.2rem;
        border-bottom: 0.4rem solid #d0d0d0;
        display: flex;
        flex-wrap: wrap;
        gap: 2.4rem;
    }
    .events_table__row span {
        font-size: 4rem;
    }
    .events_table__row .category {
        opacity: 0.7;
    }
    .events_info__link {
        font-size: 3.6rem;
    }
}