.footer {
    background-color: var(--color-hero);
    padding: 4rem 0 7.2rem;
}

.footer span {
    font-size: 1.6rem;
    line-height: 120%;
    opacity: 0.6;
}

@media (max-width: 48em) {
    .footer {
        padding: 8rem 0 12rem;
    }

    .footer span {
        font-size: 3.2rem;
    }
}
