.hero {
    background-color: var(--color-hero);
    padding-bottom: 13rem;
    position: relative;
    overflow: hidden;
}

.hero .container {
    position: relative;
    z-index: 10;
}

.hero_bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: color-burn;
    z-index: 3;
}

.hero_bg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero_bg-city {
    position: absolute;
    bottom: -3rem;
    width: 166rem;
    height: 46.382rem;
    z-index: 2;
    left: calc(50% + 1rem);
    transform: translateX(-50%);
}

.hero_bg-round {
    position: absolute;
    top: -10rem;
    width: 77rem;
    height: 77rem;
    z-index: 1;
    left: calc(50% - 6rem);
    transform: translateX(-50%);
}

.hero_bg-chess-1 {
    position: absolute;
    top: 48rem;
    z-index: 3;
    width: 20rem;

    left: calc(50% + 25rem);
    transform: translateX(-50%);
}

.hero_bg-chess-2 {
    position: absolute;
    top: 56rem;
    z-index: 3;
    width: 8.261rem;

    left: calc(50% + 60rem);
    transform: translateX(-50%);
}

.hero_bg-chess-3 {
    position: absolute;
    top: 27rem;
    z-index: 1;
    width: 13rem;
    left: calc(50% + 11rem);
    transform: translateX(-50%);
}

.hero_bg-chess-4 {
    position: absolute;
    top: 16.7rem;
    z-index: 1;
    width: 14rem;
    left: calc(50% + 45rem);
    transform: translateX(-50%);
}

.hero_logo {
    padding-top: 2.6rem;
    margin-bottom: 6.2rem;
    display: flex;
    gap: 0.635rem;
}

.hero_logo__img {
    width: 9.182rem;
    height: 3.118rem;
}

.hero_logo__text {
    font-size: 1.65rem;
    font-weight: 700;
    line-height: 108%;
    width: 14.7rem;
    color: var(--color-logo);
    text-transform: uppercase;
}

.hero_title {
    width: 54.2rem;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
}

.hero_title span:nth-child(2) {
    margin-left: 9.1rem;
    width: 36rem;
}

.hero_title span:nth-child(3) {
    text-align: right;
    margin-left: 3.3rem;
}

.hero_desc {
    font-size: 1.8rem;
    line-height: 130%;
    margin-bottom: 4rem;
    width: 54.2rem;
    text-align: center;
}

.hero_btns {
    display: flex;
    gap: 1.6rem;
}

.rotate-center {
    -webkit-animation: rotate-center 50s linear infinite;
    animation: rotate-center 50s linear infinite;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (max-width: 48em) {
    .hero {
        padding-bottom: 58.2rem;
    }
    
    .hero_bg-city {
        position: absolute;
        bottom: 2rem;
        width: 189rem;
        height: 46rem;
        z-index: 2;
        left: calc(50% + -33rem);
    }
    
    .hero_bg-round {
        top: 75rem;
        width: 70rem;
        height: 70rem;
        left: calc(50% - 37rem);
    }
    
    .hero_bg-chess-1 {
        top: 132rem;
        width: 19rem;
        left: calc(50% + 1rem);
    }
    
    .hero_bg-chess-2 {
        display: none;
    }
    
    .hero_bg-chess-3 {
        top: 108rem;
        width: 12rem;
        left: calc(50% + -19rem);
    }
    
    .hero_bg-chess-4 {
        top: 100rem;
        width: 12rem;
        left: calc(50% + 14rem);
        transform: translateX(-50%) rotate(7deg);
    }
    
    .hero_logo {
        padding-top: 3.6rem;
        margin-bottom: 8rem;
        gap: 1.1rem;
    }
    
    .hero_logo__img {
        width: 15.9rem;
        height: 5.4rem;
    }
    
    .hero_logo__text {
        font-size: 2.884rem;
        width: 25.6rem;
    }
    
    .hero_title {
        width: 100%;
        margin-bottom: 4.8rem;
    }
    
    .hero_title span:nth-child(2) {
        margin-left: 12.65rem;
        width: 43.2rem;
    }
    
    .hero_title span:nth-child(3) {
        margin-left: 6.3rem;
        white-space: nowrap;
    }
    
    .hero_desc {
        font-size: 3.6rem;
        margin-bottom: 6.4rem;
        width: 100%;
        text-align: left;
    }
    
    .hero_btns {
        flex-direction: column;
        gap: 2.8rem;
    } 
}